<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head('Transaction Report')}"></head>
<body>
    <div th:replace="~{base :: navbar}"></div>

    <div class="container mt-4">
        <div th:if="${successMessage}" class="alert alert-success text-center" th:text="${successMessage}"></div>

        <div th:if="${errorMessage}" class="alert alert-danger text-center" th:text="${errorMessage}"></div>

        <div class="alert alert-secondary text-center mt-3">
            Current Balance: <strong th:text="${currentBalance} + ' €'"></strong>
        </div>

        <hr class="border-dark">

        <form class="mb-3" method="GET">
            <div class="input-group input-group-lg">
                <input type="text" name="daterange" class="form-control" placeholder="YYYY-MM-DD - YYYY-MM-DD"th:value="${daterange}">
            </div>
        </form>

        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>DATE</th>
                    <th>TRANSACTION</th>
                    <th>AMOUNT</th>
                    <th>BALANCE</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="transaction : ${transactions}">
                    <td class="text-center" th:text="${#temporals.format(transaction.timestamp, 'MMM. d, yyyy, h:mm a')}" />
                    <td class="text-center" th:text="${transaction.type}" />
                    <td class="text-center" th:text="'€ ' + ${transaction.amount}" />
                    <td class="text-center" th:text="'€ ' + ${transaction.balance}" />
                </tr>
            </tbody>
        </table>
    </div>

    <th:block th:replace="~{base :: footer}"></th:block>

    <th:block th:replace="~{base :: scripts}"></th:block>
</body>
</html>
